<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Programacion Visual</title>
    <link rel="stylesheet" href="../static/css/estilos.css">
</head>
<body>
    <header class="header">
        <div class="container logo-nav-conteiner">
          <a href="#" class="logo">Programacion Visual</a>
          <nav class="navigation">
            <ul>
              <li><a href="index.html">INICIO</a></li>
              <li><a href="form-cliente.html">FORMULARIO</a></li>
            </ul>
          </nav>
        </div>
      </header>
      
    <div>
        <h1>Programacion Visual</h1>
        <nav>
            <ul>
                <li><a href="#seccion1">Java</a></li>
                <li><a href="#seccion2">Html</a></li>
                <li><a href="#seccion3">CSS</a></li>
            </ul>
        </nav>
    </div>
    


    <main>
        <section id="seccion1">
            <h2>Java</h2>
            <p>Java es un lenguaje de programación y una plataforma informática que fue comercializada por primera vez en 1995 
            por Sun Microsystems.23.</p>
            <p>El lenguaje de programación Java fue desarrollado originalmente por James Gosling, de Sun Microsystems (constituida 
            en 1983 y posteriormente adquirida el 27 de enero de 2010 por la compañía Oracle),4 y publicado en 1995 como un 
            componente fundamental de la plataforma Java de Sun Microsystems. Su sintaxis deriva en gran medida de C y C++, pero 
            tiene menos utilidades de bajo nivel que cualquiera de ellos. Las aplicaciones de Java son compiladas a bytecode 
            (clase Java), que puede ejecutarse en cualquier máquina virtual Java (JVM) sin importar la arquitectura de la computadora 
            subyacente.</p>
            <p>La compañía Sun desarrolló la implementación de referencia original para los compiladores de Java, máquinas virtuales 
            y librerías de clases en 1991, y las publicó por primera vez en 1995. A partir de mayo de 2007, en cumplimiento de las 
            especificaciones del Proceso de la Comunidad Java, Sun volvió a licenciar la mayoría de sus tecnologías de Java bajo la 
            Licencia Pública General de GNU. Otros han desarrollado también implementaciones alternas a estas tecnologías de Sun, 
            tales como el Compilador de Java de GNU y el GNU Classpath.</p>
            
            <p>Versiones estables mas usadas</p>
            <ul>
                <li>Java SE 8</li>
                <li>Java SE 11</li>
                <li>Java SE 17</li>
            </ul>
            <table>
                <tr>
                    <th>Version</th>
                    <th>Año de lanzamiento</th>
                </tr>
                <tr>
                    <td>Java SE 8</td>
                    <td>marzo de 2014</td>
                </tr>
                <tr>
                    <td>Java SE 11</td>
                    <td>septiembre 2018</td>
                </tr>
                <tr>
                    <td>Java SE 17</td>
                    <td>septiembre 2021</td>
                </tr>
            </table>
        </section>
        <section id="seccion2">
            <h2>HTML</h2>
            <h3>Que es Html?</h3>
            <p>HTML, acrónimo en inglés de <strong>HyperText Markup Language</strong>  («lenguaje de marcado de hipertexto»), hace referencia al 
            lenguaje de marcado utilizado en la creación de páginas web. Este estándar que sirve de referencia del software que 
            interactúa con la elaboración de páginas web en sus diferentes versiones. Define una estructura básica y un código 
            (denominado código HTML) para la presentación de contenido de una página web, que incluye texto, imágenes, videos, 
            juegos, entre otros elementos. Este estándar es gestionado por el World Wide Web Consortium (W3C) o Consorcio WWW, 
            una organización dedicada a la estandarización de la mayoría de las tecnologías asociadas a la web, especialmente en 
            lo relacionado con su escritura e interpretación. HTML se considera el lenguaje web más importante y su invención 
            crucial para el surgimiento, desarrollo y expansión de la World Wide Web (WWW). Es el estándar que prevalece en la 
            visualización de páginas web y es adoptado por todos los navegadores actuales.1</p>
            <p>El lenguaje HTML se fundamenta en la diferenciación como filosofía de desarrollo. Para añadir elementos externos 
            a una página como imágenes, vídeos o scripts, no se incrustan directamente en el código de la página. En su lugar, 
            se realiza una referencia a la ubicación de cada elemento mediante texto. De este modo, la página web contiene solamente 
            texto, dejando al navegador web (intérprete del código) la labor de unir todos los elementos y visualizar la página final. 
            Al ser un estándar, HTML pretende ser un lenguaje que permita que cualquier página web escrita en una determinada versión, 
            pueda ser interpretada de manera uniforme (siguiendo el estándar) por cualquier navegador web actualizado.</p>
            <p>HTML es un lenguaje de marcado que posibilita definir la estructura de nuestro documento mediante etiquetas. Este 
            lenguaje ofrece una gran adaptabilidad, una estructuración lógica y es fácil de interpre­tar tanto por humanos como por 
            máquinas.</p>
            
        </section>


        <section id="seccion3">
            <h2>CSS</h2>
            <p>CSS (siglas en inglés de Cascading Style Sheets), en español «Hojas de estilo en cascada», es un lenguaje de diseño 
            gráfico para definir y crear la presentación de un documento estructurado escrito en un lenguaje de marcado.2 Es muy usado 
            para establecer el diseño visual de los documentos web, e interfaces de usuario escritas en HTML o XHTML; el lenguaje puede 
            ser aplicado a cualquier documento XML, incluyendo XHTML, SVG, XUL, RSS, etcétera. Junto con HTML y JavaScript, CSS es una 
            tecnología usada por muchos sitios web para crear páginas visualmente atractivas, interfaces de usuario para aplicaciones web 
            y GUIs para muchas aplicaciones móviles (como Firefox OS).3</p>
            <p>CSS está diseñado principalmente para marcar la separación del contenido del documento y la forma de presentación de este, 
            características tales como las capas o layouts, los colores y las fuentes.4 Esta separación busca mejorar la accesibilidad 
            del documento, proveer más flexibilidad y control en la especificación de características presentacionales, permitir que 
            varios documentos HTML compartan un mismo estilo usando una sola hoja de estilos separada en un archivo .css, y reducir la 
            complejidad y la repetición de código en la estructura del documento.</p>
            <p>La separación del formato y el contenido hace posible presentar el mismo documento marcado en diferentes estilos para 
            diferentes métodos de renderizado, como en pantalla, en impresión, en voz (mediante un navegador de voz o un lector de 
            pantalla), y dispositivos táctiles basados en el sistema Braille. También se puede mostrar una página web de manera diferente 
            dependiendo del tamaño de la pantalla o tipo de dispositivo. Los lectores pueden especificar una hoja de estilos diferente, 
            como una hoja de estilos CSS guardado en su computadora, para sobreescribir la hoja de estilos del diseñador.máquinas.</p>
        </section>
    </main>
    <aside>
        <h2>contenido Adicional</h2>
        <a href="#">Conocer mas</a>
        <img src="../static/img/Desarrollo-Aplicaciones-Web.jpg" alt="img">
    </aside>
    <footer>
        <p class="contacto">Contacto: miguel.mp313@gmail.com</p>
        <nav>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>
